@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
}

.card-berita {
  width: 350px;
  height: 300px;
  background: url('../assets/nasi-goreng.png');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  transition: 0.5s;
}

.card-berita:hover {
  scale: 1.1;
  cursor: pointer;
}

.bg {
  display: flex;
  justify-content: end;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.210);
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h4,
p {
  margin: 0;
}

.title h4 {

  line-height: 22px;
}

.description {
  font-size: 14px;
  line-height: 17px;
  margin: 5px 0;
}

.createdAt {
  font-size: 10px;
}