@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
}

li {
  margin: 0 30px;
  list-style: none;
  font-size: 18px;
  cursor: pointer;
}

.hero {
  /* background-color: red; */
  align-items: center;
  height: 80vh;

}

.title {
  font-size: 56px;
  font-weight: 400;
  /* font-weight: bold; */
}

.title span {
  font-weight: 600;
}



.menu-image {
  border-radius: 15px;
  height: 350px;
  width: 350px;
  background-image: url("/src/assets/nasi-goreng.png");
  background-size: cover;
  color: white;
  display: flex;
  padding: 10px;
  box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.214);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.subtitle {
  line-height: 18px;
}

.menu-desc {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.level {
  display: flex;
}

.btn-resep {
  border: none;
  border-radius: 15px;
  background-color: #FD4007;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}